
LANGUAGE=fr

a=à,â,u:30,o:30
à=a,â
â=à,a

b=p:30

c=ç,s:70,ss:90,z:30,k:30
ç=c,s:70

d=t:30

e=é,è,ê,ë,i:40
é=e,è,ê,ë,es:90
è=é,e,ê,ë
ê=é,è,e,ë
ë=é,è,ê,e

f=w:30

g=j:30

h=

i=î,ï,ee:80,j:80,y:80,e:40
î=i,ï,ee:30
ï=î,i,ee:30

j=i:80,g:30

k=c:30,q:30,x:30

l=

m=n:30

n=m:30

o=ô,ö,u:40,a:40,ou:85
ô=o,ö,a:30,os:85
ö=ô,o,a:30

p=b:30

q=k:30

r=

s=ç:70,sç:80,z:80

t=ct:90,d:40,tt:80

u=û,ù,a:30
û=u,ù,a:30
ù=û,u,a:30

v=bv:90,w:30,y:30

w=v:30,y:30

x=k:30,s:40,u:30

y=i:80,ill:90,u:30

z=s:90


bv=v:90
ct=t:90
ee=i:50
es=é:90
os=ô:85
ou=o:80
sç=s:80
ss=c:90
tt=t:80

ill=y:90
