
LANGUAGE=es

a=á,u:50,o:40
á=a
b=p:50
c=k:60,s:80,z:40
d=t:50,b:30
e=é,i:50
é=e
f=v:50,w:40
g=j:40,k:40
h=x:40
i=í,e:50,ee:40,j:30
í=i
j=i:50,g:30
k=c:70,q:50,x:40
l=k:20
m=n:50
n=ñ,m:50
ñ=n
o=ó,u:40,a:40
ó=o
p=b:40
q=k:40
r=
s=c:80,z:40,x:40
t=d:40
u=ú,ü,a:50,y:30
ú=u,ü
ü=u,ú
v=w:40,y:40
w=v:60,y:40
x=k:50,s:40
y=u:40
z=c:40,s:50
