
LANGUAGE=ru

а=я:50,о:50				# a = ia,o
б=п:50					# b = p
в=ф:50					# v = f
г=к:50					# g = k
д=т:50					# d = t
е=ё:90,э:50,и:50			# e = io,ie,i
ё=е:90,о:50				# io = e,o
ж=ш:50,щ:50,з:50			# zhe = sh,z,sh-soft
з=с:50,ж:50				# z = s,zhe
и=ы:50,й:50				# i = eai,i-short,ia
й=и:50					# i-short = i,ia
к=г:50					# k = g
л=					# l = 
м=н:50					# m = n
н=м:50					# n = m
о=ё:50,а:50				# o = io,a
п=б:50					# p = b
р=					# r = 
с=з:50,ш:50,ц:50			# s = z,sh,tce
т=д:50					# t = d
у=ю:50					# y = iy
ф=в:50					# f = v
х=к:50					# h = k
ц=с:50,з:50				# tce = s,z
ч=щ:50,ш:50				# ch = sh-soft,sh
ш=с:50,ж:50,щ:50,ч:50			# sh = s,zhe,sh-soft,ch
щ=ш:50,ч:50				# sh-soft = sh,ch
ъ=ь:50					# sign-hard = sign-soft
ы=и:50,е:50,я:50			# eai = i,e,ia
ь=ъ:50,ш:50				# sign-soft = sign-hard,sh
э=е:50,а:50				# ie = e,a
ю=у:50,е:50				# iy = y,e
я=а:50,и:50,й:50,е:50			# ia = a,i,i-short,e
